#footer {
    border-top: 1px solid #F0F0F0;
    padding: 15px;
    padding-bottom: 80px;
}

#footer > ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
}

#footer-links a {
    text-decoration: none;
    color: #d7d7d7;
    font-size: 11px;
    margin-right: 10px;
}

#language-select {
    color: blue;
    text-decoration: none;
    font-size: 12px;
}

a > span {
    color: black;
}

a:visited {
    text-decoration: none;
}