#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #333;
    color: rgb(153, 153, 153);
    margin-top: 0;
}

#nav-left {
    display: flex;
    align-items: center;
}

#nav-left a:link, #nav-left a:visited {
    width: 104px;
    color: rgb(187, 187, 187);
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid black;
    font-size:  14px;

}

#nav-left a:active {
    background-color: black;
    color: white;
}

#nav-logo {
    background-color: #FF5500;
    height: 45px;
    width: 80px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    background-image: url();
    background-position: center;
    background-size: cover;
    border: none;
    background-image: image();
}

#nav-right {
    display: flex;
    align-items: center;
}

.droplink {
    display: none;
    list-style: none;
}

.droplink.show {
    display: block;
}

.droplink a {
    color: rgb(153, 153, 153);
    text-decoration: none;
}

.dropdown-nav {
  width: 46px;
  height: 46px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.dropdown-nav > ul {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  background-color: rgb(141, 184, 154);
  margin: 20px;
}