@import 'variables';

.show-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.comment-form-div {
    display: flex;
    width: 100%;
    background-color: #F0F0F0;
    border: 1px solid $lighter-grey;
    margin-bottom: 20px;
}

.comment-form {
    display: flex;
    width: 100%;
    padding: 8px;
}

.comment-form > input {
    line-height: 20px;
    padding: 3px 6px;
    width: 100%;
    font-size: 15px;
}

.show-content {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

}

.side-section {
    display: flex;
    width: 24%;
    padding-right: 2%;
}

.main-section {
    display: flex;
    flex-direction: column;
    width: 72%;
    padding-left: 2%;
    border-left: 1px solid $lighter-grey;
}

.song-description {
    margin-bottom: 20px;
}

.comment-index {
    display: flex;
}

.comment-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
}

.comment-header, .comment-index-header {
    display: inline-flex;
    width: 100%;
    color: $light-grey;
    align-items: center;
}

.comment-header {
    font-size: 13px;
    justify-content: space-between;
}

.comment-index-header {
    font-size: 14px;
    padding-bottom: 8px;
    border-bottom: 1px solid $lighter-grey;
}

.comment-index-header > img {
    height: 22px;
    width: 22px;
    margin-right: 5px;
}

.side-section {
    display: flex;
    flex-direction: column;
}

.artist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist-profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 1px solid red;
    margin-bottom: 15px;
}

.artist-info-name {
    font-weight: bold;
}