body {
    background-color: #F0F0F0;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#app {
    background-color: white;
    margin-top: 0;
}
