body {
    margin: 0px;
    padding: 0px;
    background-color: #F0F0F0;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

#root {
    display: flexbox;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#app {
    background-color: white;
    margin-top: 0;
    height: 1000px;
    width: 972px;
    margin-left: auto;
    margin-right: auto;
}

