body {
    margin: 0px;
    padding: 0px;
    background-color: #F0F0F0;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#app {
    background-color: white;
    margin-top: 0;

}

#app-content {
    display: flexbox;
    height: 950px;
    width: 900px;
    border: 1px solid red;
}