//font
$font-stack: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

//colors
$sc-orange: #FF5500;
$dark-grey: #333;
$almost-blk: #111111;
$mid-grey: rgb(187, 187, 187);
$light-grey: rgb(153, 153, 153);
$lighter-grey: #dedede;

//extends
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//misc 
$border-rad: 4px;